/* --------------Our Team------------- */

.our__team {
  height: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 45px 0 45px;
  /* background-image: url(../images/IMG_7410.JPG); if you like image as a background 
  /* background-size: cover; */
  /* color: #fff; */ 
  background-color: #ffc87c;
  position: relative;
}

.our__team h2 {
  font-size: 2.5rem;
  margin: 25px;
  font-family: "Inter", sans-serif;
}

.team__container {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  justify-items: center;
}

.team-member {
  width: 140px;
  height: 170px;
  object-fit: cover;
  border-radius: 10%;
  border: 1px solid #e4e99f;
  margin-top: 4px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  margin: 2px 0 10px;
  font-family: "Inter", sans-serif;
}

.name__bio {
  font-size: 12px;
  font-weight: normal;
  font-style: italic;
  font-family: "Inter", sans-serif;
  color: #2a1e1e;
  margin-top: 2px;
}

.team__card {
  border: 3px solid #e4e99f;
  border-radius: 0.9rem;
  background-color: #e4e99f;
  color: #000;
  height: 370px;
  width: 300px;
  overflow-y: scroll;
}

@media screen and (max-width: 1200px) {
  .team__card {
    height: 370px;
    width: 250px;
  }
}

@media screen and (max-width: 480px) {
  .team__card {
    height: 370px;
    width: 300px;
  }
}

.team__card::-webkit-scrollbar {
  display: none;
}

.bio-info {
  line-height: 1rem;
  text-wrap: auto;
  font-size: 13px;
  font-family: "Inter", sans-serif;
  margin: 4px;
  padding: 10px;
  text-align: justify;
  text-indent: 20px;
  cursor: pointer;
}

.btn__connect {
  width: 85px;
  height: 30px;
  font-size: 18px;
  border-radius: 10px;
  border: 2px solid black;
  display: block;
  margin: 25px auto;
  align-items: center;
  font-family: "Inter", sans-serif;
  background-color: blue;
  color: #fff;
  cursor: pointer;
  transition-duration: 0.4s;
}

.btn__connect:hover {
  background-color: #fff;
  color: #000;
}
